@import './variables';

.artists-list {
	width: 36rem;
	overflow: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	& li {
		display: flex;
		align-items: center;
		width: 100%;
		height: 8rem;
		padding: 0 1rem;
		background-color: $black-gradient;
		border-radius: 0.6rem;
		cursor: pointer;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		& img {
			width: 6rem;
			border-radius: 100px;
		}

		& .list-item-box {
			margin-left: 2rem;

			& h3 {
				font-size: 1.8rem;
				color: $white-color;
			}

			& p {
				font-size: 1.4rem;
				color: $white-color-opacity;
			}
		}

		&.active {
			border: 2px solid $cyan-color;
		}
	}
}
